* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

.hide {
  display: none;
}

.slider.custom_carousel {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: flex-end;
  background-color: #2d3743;
}

.controls {
  position: absolute;
  width: 97%;
  display: flex;
  justify-content: space-between;
  margin: 0px 40px;
  top: 42%;
}

.controls button {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #000;
  color: white;
  border: 4px solid #f6a851;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  cursor: pointer;
}

.controls button:hover {
  background-color: #f6a851;
  border: 4px solid black;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  pointer-events: none;
}

.audio {
  margin-bottom: 40px;
}

.slider.audio {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .controls {
    width: 100%;
    margin: 0px 20px;
    top: 46%;
  }

  .controls buttno {
    width: 50px;
    height: 50px;
  }

  .audio {
    margin-bottom: 0px;
  }
}
